{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/fakerails/fakerails/issues?format=json&repository=fakerails&username=fakerails","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["token 6682a2c358a3a43f82a7df89224c5b87c85f438d"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["404 Not Found"], "X-Oauth-Scopes":[""], "X-Accepted-Oauth-Scopes":["repo"], "X-Github-Media-Type":["github.v3; format=json"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4996"], "X-Ratelimit-Reset":["1606501342"], "X-Ratelimit-Used":["4"]},"body":{"encoding":"ASCII-8BIT","base64_string":"eyJtZXNzYWdlIjoiTm90IEZvdW5kIiwiZG9jdW1lbnRhdGlvbl91cmwiOiJo\ndHRwczovL2RvY3MuZ2l0aHViLmNvbS9yZXN0L3JlZmVyZW5jZS9pc3N1ZXMj\nbGlzdC1yZXBvc2l0b3J5LWlzc3VlcyJ9\n"}},"recorded_at":"Fri, 27 Nov 2020 17:27:25 GMT"}],"recorded_with":"VCR 6.0.0"}